
<style>
   .langBtn {
      width:9em;
   }
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #e0e5ee;

    text-align: center;
    border-radius: 5px;
    padding: 5px;

    box-shadow: 0 0 3px #0070D2;
    /* Position the tooltip */
    position: absolute;
    margin-left: -20em;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}   
</style>

<div class="slds-grid slds-wrap slds-align_absolute-center">
   <div class="slds-size_1-of-1 slds-align_absolute-center slds-m-vertical_xx-large ">
      <img src="/images/platform-simple-1400.png" width="600px" />
   </div>
   <div class="slds-size_1-of-1 slds-box slds-hide">
      Results:<br />
      Dyno Type : <span id="dyno"></span><br />
      Dyno Units : <span id="dyno-units"></span><br />
      Data Addons : <span id="data-addons"></span><br />
      Partner Addons : <span id="partner-addons"></span><br />
   </div>
   <div class="slds-form slds-form_horizontal slds-size_2-of-5 ">
      <!-- <div class="slds-form-element slds-m-bottom_small">
         <label class="slds-form-element__label tooltip">
            Programming Language
            <span class="tooltiptext">
               Selecting the programming language that is going to be used for app development allows us to guess at the concurrency that the app will have. i.e. how many threads it can run.
            </span>
         </label>               
         <div class="slds-form-element__control">
            <div class="slds-radio_button-group">
               <span class="slds-button slds-radio_button">
                  <input type="radio" name="radio" id="java" value="java" class="calc-field"/>
                  <label class="slds-radio_button__label langBtn" for="java">
                     <img src="/images/java.png" width="20px" class="slds-p-left_xx-small"/>
                     <span class="slds-radio_faux">Java</span>
                  </label>
               </span>
               <span class="slds-button slds-radio_button">
                  <input type="radio" name="radio" id="golang" value="golang" class="calc-field" />
                  <label class="slds-radio_button__label langBtn" for="golang">
                     <img src="/images/go.png" width="20px" class="slds-p-left_xx-small"/>                     
                     <span class="slds-radio_faux">Go</span>
                  </label>
               </span>               
               <span class="slds-button slds-radio_button">
                  <input type="radio" name="radio" id="ruby" value="ruby" class="calc-field">
                  <label class="slds-radio_button__label langBtn" for="ruby">
                     <img src="/images/ruby.png" width="20px" class="slds-p-left_xx-small"/>   
                     <span class="slds-radio_faux">Ruby</span>
                  </label>
               </span>
               <span class="slds-button slds-radio_button">
                  <input type="radio" name="radio" id="clojure" value="clojure" class="calc-field">
                  <label class="slds-radio_button__label langBtn" for="clojure">
                     <img src="/images/clojure.png" width="20px" class="slds-p-left_xx-small"/>
                     <span class="slds-radio_faux">Clojure</span>
                  </label>
               </span>               
            </div>
            <div class="slds-radio_button-group slds-m-top_xx-small">
               <span class="slds-button slds-radio_button">
                  <input type="radio" name="radio" id="node" value="node" class="calc-field"/>
                  <label class="slds-radio_button__label langBtn" for="node">
                     <img src="/images/js.png" width="20px" class="slds-p-left_xx-small"/>
                     <span class="slds-radio_faux">Node</span>
                  </label>
               </span>
               <span class="slds-button slds-radio_button">
                  <input type="radio" name="radio" id="php" value="php" class="calc-field"/>
                  <label class="slds-radio_button__label langBtn" for="php">
                     <img src="/images/php.png" width="20px" class="slds-p-left_xx-small"/>                     
                     <span class="slds-radio_faux">PHP</span>
                  </label>
               </span>               
               <span class="slds-button slds-radio_button">
                  <input type="radio" name="radio" id="python" value="python" class="calc-field">
                  <label class="slds-radio_button__label langBtn" for="python">
                     <img src="/images/python.png" width="20px" class="slds-p-left_xx-small"/>   
                     <span class="slds-radio_faux">Python</span>
                  </label>
               </span>
               <span class="slds-button slds-radio_button">
                  <input type="radio" name="radio" id="scala" value="scala" class="calc-field">
                  <label class="slds-radio_button__label langBtn" for="scala">
                     <img src="/images/scala.png" width="20px" class="slds-p-left_xx-small"/>
                     <span class="slds-radio_faux">Scala</span>
                  </label>
               </span>               
            </div>            
         </div>
      </div>   -->
      <div class="slds-form-element slds-m-bottom_small">
         <label class="slds-form-element__label tooltip" for="private-space">
            Private Space
            <span class="tooltiptext">
               A <a href="https://devcenter.heroku.com/articles/private-spaces" target="_blank">Private Space</a> is required if you are going to be running your apps in Sydney, Tokyo, Frankfurt, Oregon or Dublin
            </span>            
         </label>
         <div class="slds-form-element__control">
               <input type="checkbox" id="private-space" value="yes" class="calc-field">
         </div>
      </div>
      <div class="slds-form-element slds-m-bottom_small">
         <label class="slds-form-element__label tooltip" for="shield">
            Shield
            <span class="tooltiptext">
               <a href="https://devcenter.heroku.com/articles/private-spaces#shield-private-spaces" target="_blank">Shield</a> is only necessary for apps that require HIPPA level compliance.
            </span>   
         </label>
         <div class="slds-form-element__control">
               <input type="checkbox" id="shield" class="calc-field">
         </div>
      </div>          
      <div class="slds-form-element slds-m-bottom_small">
         <label class="slds-form-element__label tooltip" for="requests-per-day">
            Average Requests per day
            <span class="tooltiptext">
               How many customer requests per day will this application be handling? This should be an average as Heroku can autoscale to handle the high water mark.
            </span>              
         </label>             
         <div class="slds-form-element__control">
            <input type="text" id="requests-per-day" class="slds-input calc-field" placeholder="Enter a number">
         </div> 
      </div>  
      <div class="slds-form-element slds-m-bottom_small">
         <label class="slds-form-element__label tooltip" for="time-per-request">
            <abbr class="slds-required" title="required">*</abbr>Time per Request (ms)
            <span class="tooltiptext">
               It is important to have an understanding of just how long a request might take to respond to the user. This number helps us determine how many dynos are required to meet the requests per second load.
            </span>             
         </label>             
         <div class="slds-form-element__control">
            <input type="text" id="time-per-request" class="slds-input calc-field" placeholder="Enter a number">
         </div> 
      </div>  
      <div class="slds-form-element slds-m-bottom_small">
            <label class="slds-form-element__label tooltip" for="dyno-type">
               Dyno Type
               <span class="tooltiptext">
                  What size of <a href="https://devcenter.heroku.com/articles/heroku-enterprise#available-dyno-types" target="_blank">dyno</a> is required? If unknown, we will attempt to determine the best fit for your expected load.
               </span>                  
            </label>
            <div class="slds-form-element__control">
               <div class="slds-select_container">
                  <select class="slds-select calc-field" id="dyno-type">
                     <option disabled selected value> -- select an option -- </option>
                  </select>
               </div>
            </div>
      </div>   
      <div class="slds-form-element slds-m-bottom_small">
         <label class="slds-form-element__label tooltip" for="workers">
            Workers
            <span class="tooltiptext">
               It is quite common in Heroku to deploy apps using the <a href="https://devcenter.heroku.com/articles/background-jobs-queueing" target="_blank">Web/Worker</a> pattern.
            </span>              
         </label>
         <div class="slds-form-element__control">
               <input type="checkbox" id="workers">
         </div>
      </div> 
      <div id="number-of-workers-input" class="slds-form-element slds-m-bottom_small  slds-hide">
         <label class="slds-form-element__label tooltip" for="number-of-workers">
            Number of Workers
            <span class="tooltiptext">
               This calculator will assume smallest production dyno for Workers. i.e. In the common runtime this would be a Performance-M dyno, in a Private Space it will be Private-S.
            </span>             
         </label>             
         <div class="slds-form-element__control">
            <input type="text" id="number-of-workers" class="slds-input calc-field" placeholder="Enter a number">
         </div> 
      </div>       

      <div class="slds-form-element slds-m-bottom_small">
         <label class="slds-form-element__label tooltip" for="postgres-size">
            Size of Database
            <span class="tooltiptext">
               The size of the database in GB. This is not the only consideration when looking at <a href="https://devcenter.heroku.com/articles/heroku-postgres-plans" target="_blank">Postgres Plans</a>, but a good starting point. If you are looking at this option for Heroku Connect database sizing, then the size of the data in Salesforce would be an indication. 
            </span>               
         </label>             
         <div class="slds-form-element__control">
            <input type="text" id="postgres-size" class="slds-input calc-field" placeholder="Enter a number">
         </div> 
      </div>      
      <div class="slds-form-element slds-m-bottom_small">
         <label class="slds-form-element__label tooltip" for="heroku-connect">
            Heroku Connect
            <span class="tooltiptext">
               <a href="https://devcenter.heroku.com/articles/heroku-connect" target="_blank">Heroku Connect</a> performs two functions. It will syncrhonise Salesforce data in a Postgres database AND it will also expose Postgres data tables and views as oData endpoints for consumption by services like <a href="https://help.salesforce.com/articleView?id=platform_connect_about.htm&r=https%3A%2F%2Fwww.google.com.au%2F&type=0" target="_blank">Salesforce Connect</a>
            </span>
         </label>
         <div class="slds-form-element__control">
               <input type="checkbox" id="heroku-connect">
         </div>
      </div> 
      <div id="heroku-connect-input" class="slds-form-element slds-m-bottom_medium slds-hide">
         <label class="slds-form-element__label tooltip" for="heroku-connect-rows">
            Number of Rows
            <span class="tooltiptext">
               Connect is priced by number of records that are "under sync". This is the total of how many records are in each Salesforce table you wish to sync.
            </span>               
         </label>             
         <div class="slds-form-element__control">
            <input type="text" id="heroku-connect-rows" class="slds-input calc-field" placeholder="Enter a number">
         </div> 
      </div>    
      <div class="slds-form-element slds-m-bottom_small">
         <label class="slds-form-element__label tooltip" for="kafka">
            Kafka
            <span class="tooltiptext">
               Apache Kafka on Heroku is an event bus that can be used for a number of different integration use cases. See the <a href="https://devcenter.heroku.com/articles/kafka-on-heroku#plans-and-configurations" target="_blank">documentation</a> for the details on which plans fit.
            </span>  
         </label>
         <div class="slds-form-element__control">
               <input type="checkbox" id="kafka" >
         </div>
      </div>    
      <div id="kafka-plans-select" class="slds-form-element slds-m-bottom_small slds-hide">
            <label class="slds-form-element__label" for="kafka-plan">Kafka Plan</label>
            <div class="slds-form-element__control">
               <div class="slds-select_container">
                  <select class="slds-select calc-field" id="kafka-plan">
                     <option disabled selected value> -- select an option -- </option>
                  </select>
               </div>
            </div>
      </div>             
      <div class="slds-form-element slds-m-bottom_small">
         <label class="slds-form-element__label tooltip" for="addons">
            AddOns
            <span class="tooltiptext">
               <a href="https://devcenter.heroku.com/articles/heroku-enterprise#add-on-credits" target="_blank">Addons</a> are purchased in blocks of $1000 per month and can be used for an of the addons that exist. e.g. you might want $300 or Papertrail and $600 of CloudAMQP = $900 worth of addons = 1 addon credit. 
            </span>              
         </label>             
         <div class="slds-form-element__control">
            <input type="text" id="addons" class="slds-input calc-field" placeholder="Enter a number">
         </div> 
      </div>  
      <div class="slds-form-element slds-m-bottom_small">
         <label class="slds-form-element__label" for="staging-env">
            Number of Staging Environments
         </label>             
         <div class="slds-form-element__control">
            <input type="text" id="staging-env" class="slds-input calc-field" placeholder="Enter a number">
         </div> 
      </div>    
      <div class="slds-form-element slds-m-bottom_small">
         <label class="slds-form-element__label" for="developer-env">
            Number of Developer Environments
         </label>             
         <div class="slds-form-element__control">
            <input type="text" id="developer-env" class="slds-input calc-field" placeholder="Enter a number">
         </div> 
      </div>                                                      
   </div>

</div>

<script type="text/javascript">
   $(document).ready(function() {
      updateSelectOptions();
      $("#private-space").change(function() {
         $("#shield").prop('checked', false);
         updateSelectOptions();
      });
      $("#shield").change(function() {
         $("#private-space").prop('checked', false);
         updateSelectOptions();
      });
      $("#workers").change(function() {
         if($("#workers").prop('checked')) {
            $("#number-of-workers-input").removeClass('slds-hide');
         } else {
            $("#number-of-workers").val('');
            $("#number-of-workers-input").addClass('slds-hide');
         }
      });
      $("#heroku-connect").change(function() {
         if($("#heroku-connect").prop('checked')) {
            $("#heroku-connect-input").removeClass('slds-hide');
         } else {
            $("#heroku-connect-rows").val('');
            $("#heroku-connect-input").addClass('slds-hide');
         }
      });

      $("#kafka").change(function() {
         if($("#kafka").prop('checked')) {
            $("#kafka-plans-select").removeClass('slds-hide');
         } else {
            $("#kafka-plans-select").addClass('slds-hide');
         }
      });

      $("select[class~='calc-field'").change(() => calculate());
      $("input[class~='calc-field']").change(() => calculate());

      function calculate() {
         // assumption is for an app that takes 1 second to return, these are good guidelines for amount of requests that a dyno could handle

         /*
         var requestsPerSecond = {
               "java" : {"1x" : 30, "2x" : 60, "performance-m": 100, "performance-l" : 300, "private-s": 50, "private-m": 100, "private-l" : 300, "shield-m": 100, "shield-l":300},
               "ruby" : {"1x" : 30, "2x" : 60, "performance-m": 100, "performance-l" : 300, "private-s": 50, "private-m": 100, "private-l" : 300, "shield-m": 100, "shield-l":300},
               "clojure" : {"1x" : 30, "2x" : 60, "performance-m": 100, "performance-l" : 300, "private-s": 50, "private-m": 100, "private-l" : 300, "shield-m": 100, "shield-l":300},
               "python" : {"1x" : 30, "2x" : 50, "performance-m": 250, "performance-l" : 500, "private-s": 100, "private-m": 250, "private-l" : 500,  "shield-m": 100, "shield-l":300},
               "node" : {"1x" : 30, "2x" : 50, "performance-m": 250, "performance-l" : 500, "private-s": 100, "private-m": 250, "private-l" : 500,  "shield-m": 100, "shield-l":300},
               "golang" : {"1x" : 30, "2x" : 60, "performance-m": 100, "performance-l" : 300, "private-s": 50, "private-m": 100, "private-l" : 300, "shield-m": 100, "shield-l":300},
               "scala" : {"1x" : 30, "2x" : 60, "performance-m": 100, "performance-l" : 300, "private-s": 50, "private-m": 100, "private-l" : 300, "shield-m": 100, "shield-l":300},
               "php" : {"1x" : 8, "2x" : 16, "performance-m": 40, "performance-l" : 224, "private-s": 20, "private-m": 40, "private-l" : 224, "shield-m": 40, "shield-l":224}
         }; */

         var requestPerSecond = {"1x" : 30, "2x" : 50, "performance-m" : 250, "performance-l" : 500, "private-s" : 50, "private-m" : 250, "private-l" : 500, "shield-m" : 250, "shield-l" : 500}

         // var language = $("input:radio[name ='radio']:checked").val();
         var privateSpace = $("#private-space").prop('checked');
         var shield = $("#shield").prop('checked');
         var reqPerDay = testNumber($("#requests-per-day"));
         var timePerRequest = testNumber($("#time-per-request"));
         var requiredPerSecond = Math.floor((reqPerDay / (43200)) * (1000/timePerRequest)); // requests per second * 1/number of seconds a request takes
         var dynoType = $("#dyno-type").val();
         var numberOfWorkers = $("#number-of-workers").val();
         var postgresSize = testNumber($("#postgres-size"));
         var herokuConnect = testNumber($("#heroku-connect-rows"));
         var kafkaPlan = $("#kafka-plan").val();
         var addons = testNumber($("#addons"));
         var devEnv = testNumber($("#developer-env"));
         var stagingEnv = testNumber($("#staging-env"));

         console.log(`private-space [${privateSpace}] shield [${shield}] requestsPerDay [${reqPerDay}] requestPerSecond[${requiredPerSecond}] tpr [${timePerRequest}] dt[${dynoType}] numberOfWorkers [${numberOfWorkers}] postgres [${postgresSize}] heroku-connect [${herokuConnect}] kafka [${kafkaPlan}] dev [${devEnv}] staging [${stagingEnv}]`);

         var numberOfDynos;
         var dynoUnits;
         var dataAddons;
         var connectRows;
         var partnerAddons;

         if(dynoType && reqPerDay && timePerRequest) {
            console.log('can calculate dyno loads');

            var rps = requestPerSecond[dynoType];
            
         } 
         if(herokuConnect) {
            console.log('can estimate HC rows');
         }
         if(postgresSize && reqPerDay) {
            console.log('can estimate postgres DB - think about requests for connection limits');
         }
         if(kafkaPlan) {
            console.log('addon kafka');
         }
         if(addons) {
            console.log('estimate addons');
         }
         if(devEnv) {
            console.log('guess for dev env');
         }
         if(stagingEnv) {
            console.log('guess for staging');
         }

      }

      function testNumber(field) {
         
         var num = Number.parseInt($(field).val());
         if(Number.isInteger(num)) {
            $(field).val(num);
            return num;
         } else {
            $(field).val('');
            return '';
         }
      }
      function updateSelectOptions() {
   
         var commonOptions = {"1x (512MB RAM)": "1x",
            "2x (1GB RAM)": "2x",
            "Performance - M (2.5GB RAM)": "performance-m",
            "Performance - L (14GB RAM)": "performance-l"
         };
         var privateOptions = {"Private - S (1GB RAM)": "private-s",
            "Private - M (2.5GB RAM)": "private-m",
            "Private - L (14GB RAM)": "private-l"
         };
         var shieldOptions = {"Shield - M (2.5GB RAM)": "shield-m", "Shield - L (14GB RAM)": "shield-l"};

         var kafkaOptions = {"Standard-0":"standard-0", "Standard-1":"standard-1","Standard-2":"standard-2","Extended-0":"extended-0","Extended-1":"extended-1","Extended-2":"extended-2"};
         var kafkaPrivateOptions = {"Private Standard-0":"private-standard-0", "Private Standard-1":"private-standard-1","Private Standard-2":"private-standard-2","Private Extended-0":"private-extended-0","Private Extended-1":"private-extended-1","Private Extended-2":"private-extended-2"};

         $('#dyno-type').empty();
         $('#kafka-plan').empty();

         $("#dyno-type").append($("<option></option>").attr("disabled","").attr("selected","").text("-- select an option --"));
         $('#kafka-plan').append($("<option></option>").attr("disabled","").attr("selected","").text("-- select an option --"));

         if($("#private-space").prop('checked')) {
            $.each(privateOptions, function(key,value) {
               $("#dyno-type").append($("<option></option>").attr("value", value).text(key));
            });
            $.each(kafkaPrivateOptions, function(key,value) {
               $("#kafka-plan").append($("<option></option>").attr("value", value).text(key));
            });
         } else if($("#shield").prop('checked')) {
            $.each(shieldOptions, function(key,value) {
               $("#dyno-type").append($("<option></option>").attr("value", value).text(key));
            });
            $('#kafka-plan').empty();
            $('#kafka-plan').append($("<option></option>").attr("disabled","").attr("selected","").text("-- shielded kafka unavailable today --"));
         } else {
            $.each(commonOptions, function(key,value) {
               $("#dyno-type").append($("<option></option>").attr("value", value).text(key));
            });
            $.each(kafkaOptions, function(key,value) {
               $("#kafka-plan").append($("<option></option>").attr("value", value).text(key));
            });            
         }
      }
   });
</script>