
<div class="slds-grid slds-wrap">
   <div class="slds-size_1-of-1 slds-col_bump-left slds-text-align_right">
      <a href="javascript:topics('connect');" class="slds-text-link_reset">TOPICS</a> | <a href="javascript:slides('connect');" class="slds-text-link_reset">SLIDES</a>
   </div>
   <div id="topics" class="slds-size_1-of-1 slds-align_absolute-center">
      <ul>
         <li>What is Heroku Connect</li>
         <li>What are External Objects</li>
         <li>Configure Connect</li>
         <li>Example Uses</li>
      </ul>
   </div>
   <div id="slides" class="slds-size_1-of-1" style="display:none;">
      <div class="slds-size_1-of-1 slds-align_absolute-center" >
         <iframe src="https://docs.google.com/a/salesforce.com/presentation/d/12TfBI7HKOOpQh_g2x_g6CJKBR9xDQwsdBKiXnnDno2w/embed?start=true&loop=true&delayms=60000" frameborder="0" width="1280" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
      <div class="slds-size_1-of-1 slds-align_absolute-center" >
         Not seeing slides? Perhaps you need to authenticate to your Salesforce &nbsp;<a href="https://drive.google.com/drive/u/0/" target="_blank">GDrive</a>
      </div>
</div>


