<style>
   .center {
      position: fixed;
      top: 50%;
      left: 50%;
   }
   .img {
      margin-top: -180px;
      margin-left: -200px;
   }   
   .main-heading{ 
      font-size: 24px
   }
   .sub-heading {
      font-size: 16px;
   }   
   .synchronise-data {
      margin-top: 0em;
      margin-left: -48em;
      width: 30em;
   }
   .odata-connector {
      margin-top: 0em;
      margin-left: 18em;
      width: 30em;
   }
</style>
<div class="slds-grid slds-wrap">
   <div class="slds-size_1-of-1 slds-col_bump-left slds-text-align_right">
      <a href="javascript:topics('connect');" class="slds-text-link_reset">TOPICS</a> | <a href="javascript:slides('connect');" class="slds-text-link_reset">SLIDES</a>
   </div>
   <div id="topics" class="slds-size_1-of-1 slds-align_absolute-center">
      <!--
      <ul>
         <li>What is Heroku Connect</li>
         <li>What are External Objects</li>
         <li>Configure Connect</li>
         <li>Example Uses</li>
      </ul>
      -->
      <div class="center img">
         <img src="/static/images/connect-sync.png" width="400px"/>
      </div>
      <div class="center synchronise-data slds-text-align_right" >
         <span class="main-heading">Synchronise Data</span><br />
         <span class="sub-heading">Heroku Connect allows you to bi-directionally synchronise data between Salesforce and an Heroku Postgres database. Expose your Salesforce data into a standard relational database.</span>
      </div>
      <div class="center odata-connector slds-text-align_left" >
         <span class="main-heading">oData Endpoint</span><br />
         <span class="sub-heading">Expose Postgres data to Salesforce via an oData endpoint. Allow storage of millions of data rows to be viewed and acted upon within the Salesforce UI, without storing the data in Salesforce. </span>
      </div>
   </div>
   <div id="slides" class="slds-size_1-of-1" style="display:none;">
      <div class="slds-size_1-of-1 slds-align_absolute-center" >
         <iframe src="https://docs.google.com/a/salesforce.com/presentation/d/12TfBI7HKOOpQh_g2x_g6CJKBR9xDQwsdBKiXnnDno2w/embed?start=true&loop=true&delayms=60000" frameborder="0" width="1280" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
      <div class="slds-size_1-of-1 slds-align_absolute-center" >
         Not seeing slides? Perhaps you need to authenticate to your Salesforce &nbsp;<a href="https://drive.google.com/drive/u/0/" target="_blank">GDrive</a>
      </div>
</div>


