
<div class="slds-grid slds-wrap">
   <div id="topics" class="slds-size_1-of-1 slds-align_absolute-center slds-grid slds-wrap">
      <div class="slds-size_1-of-1 slds-align_absolute-center" >
         <iframe src="https://docs.google.com/a/salesforce.com/presentation/d/1mL5k2Z-XmE1pWpJH9KLA-m5lukr6nSMu7KO-HSMc1-E/embed?start=true&loop=true&delayms=5000" frameborder="0" width="1280" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
      <div class="slds-size_1-of-1 slds-align_absolute-center" >
         Not seeing slides? Perhaps you need to authenticate to your Salesforce &nbsp;<a href="https://drive.google.com/drive/u/0/" target="_blank">GDrive</a>
      </div>
   </div>
</div>






