<style>
   .main-heading{ 
      font-size: 24px
   }
   .sub-heading {
      font-size: 16px;
   }
   .center {
      position: fixed;
      top: 50%;
      left: 50%;
   }  
   .img {
      margin-top: -160px;
      margin-left: -190px;
   }   
   .by-devs {
      margin-top: -27em;
      margin-left: -45em;
   } 
   .go-faster {
      margin-top: -27em;
      margin-left: 15em;
   }  
   .experience-scale {
      margin-top: 10em;
      margin-left: -45em;
   } 
   .app-metrics {
      margin-top: 10em;
      margin-left: 15em;
   }         
</style>
<div class="slds-grid slds-wrap">

   <div class="slds-size_1-of-1 slds-col_bump-left slds-text-align_right">
      <a href="javascript:topics('customers');" class="slds-text-link_reset">VIDEOS</a> | <a href="javascript:slides('customers');" class="slds-text-link_reset">SLIDES</a>
   </div>

   <div id="topics" class="slds-size_1-of-1 slds-align_absolute-center">
      <div class="center img">
         <img src="/images/heroku-platform2.png"/>
      </div>
      <div class="center by-devs">
         <span class="main-heading slds-align_absolute-center">Heroku is by developers, for developers</span><br />
         <span class="sub-heading slds-align_absolute-center">Hear how our developers can help yours...</span>
         <div class="slds-align_absolute-center slds-p-top_small">
            <iframe id="heroku-for-developers" class="" src="https://player.vimeo.com/video/187213216?api=1&amp;byline=0&amp;title=0&amp;portrait=0&amp;frameborder=0&amp;player_id=heroku-for-developers" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
         </div>
      </div>
      <div class="center go-faster">
         <span class="main-heading slds-align_absolute-center">Go Faster with Heroku</span><br />
         <span class="sub-heading slds-align_absolute-center">Spend time on features for your customers</span>
         <div class="slds-align_absolute-center slds-p-top_small">
            <iframe id="go-faster-with-heroku" class="" src="https://player.vimeo.com/video/188751054?api=1&amp;byline=0&amp;title=0&amp;portrait=0&amp;frameborder=0&amp;player_id=go-faster-with-heroku" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
         </div>
      </div>
      <div class="center experience-scale">
         <span class="main-heading slds-align_absolute-center">Leverage our experience and scale</span><br />
         <span class="sub-heading slds-align_absolute-center">Ensure your success doesn't hold your application back</span>
         <div class="slds-align_absolute-center slds-p-top_small">
            <iframe id="leverage-our-experience" class="" src="https://player.vimeo.com/video/188751059?api=1&amp;byline=0&amp;title=0&amp;portrait=0&amp;frameborder=0&amp;player_id=leverage-our-experience" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
         </div>
      </div>
      <div class="center app-metrics">
         <span class="main-heading slds-align_absolute-center">Diagnose using metrics</span><br />
         <span class="sub-heading slds-align_absolute-center">Easily monitor and tune your application</span>
         <div class="slds-align_absolute-center slds-p-top_small">
            <iframe id="application-metrics" class="" src="https://player.vimeo.com/video/188751060?api=1&amp;byline=0&amp;title=0&amp;portrait=0&amp;frameborder=0&amp;player_id=application-metrics" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
         </div>
      </div>
   </div>

   <div id="slides" class="slds-size_1-of-1 slds-align_absolute-center slds-grid slds-wrap slds-hide">
      <div class="slds-size_1-of-1 slds-align_absolute-center" >
         <iframe src="https://docs.google.com/a/salesforce.com/presentation/d/1mL5k2Z-XmE1pWpJH9KLA-m5lukr6nSMu7KO-HSMc1-E/embed?start=true&loop=true&delayms=5000" frameborder="0" width="1280" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
      <div class="slds-size_1-of-1 slds-align_absolute-center" >
         Not seeing slides? Perhaps you need to authenticate to your Salesforce &nbsp;<a href="https://drive.google.com/drive/u/0/" target="_blank">GDrive</a>
      </div>
   </div>
</div>






