<style>
   .center {
      position: fixed;
      top: 50%;
      left: 50%;
   }
   .img {
      margin-top: -210px;
      margin-left: -300px;
   }   
   .main-heading{ 
      font-size: 24px
   }
   .sub-heading {
      font-size: 16px;
   }
   .heroku-postgres {
      margin-top: -16em;
      margin-left: -48em;
   }
   .heroku-redis {
      margin-top: -16em;
      margin-left: 17em;
   }
   .heroku-kafka {
      margin-top: -1em;
      margin-left: -47em;
   }
   .data-dashboard {
      margin-top: -1em;
      margin-left: 21em;
   }
   .addons {
      margin-top: 15em;
      margin-left: -16em;
   }    
</style>

<div class="slds-grid slds-wrap">
   <div class="slds-size_1-of-1 slds-col_bump-left slds-text-align_right">
      <a href="javascript:topics('data');" class="slds-text-link_reset">TOPICS</a> | <a href="javascript:slides('data');" class="slds-text-link_reset">SLIDES</a>
   </div>
   <div id="topics" class="slds-size_1-of-1 slds-align_absolute-center">
      <div class="center img">
         <img src="/static/images/dataservices-1200.png" width="600px"/>
      </div>
      <div class="center heroku-postgres slds-text-align_right">
         <span class="main-heading">Heroku Postgres</span><br />
         <span class="sub-heading">World leading open source database, ran as a service</span>
      </div>
      <div class="center heroku-redis slds-text-align_left" >
         <span class="main-heading">Heroku Redis</span><br />
         <span class="sub-heading">In memory key-value database, ran as a service</span>
      </div>
      <div class="center heroku-kafka slds-text-align_right" >
         <span class="main-heading">Heroku Kafka</span><br />
         <span class="sub-heading">Massive scale event bas, ran as a service</span>
      </div>
      <div class="center data-dashboard slds-text-align_left" >
         <span class="main-heading">The Data Dashboard</span><br />
         <span class="sub-heading">See deep into your data services for management</span>
      </div>
      <div class="center addons slds-text-align_center" >
         <span class="main-heading">AddOns</span><br />
         <span class="sub-heading">Need other services, try the 150+ Heroku Elements </span>
      </div>
   </div>
   <div id="slides" class="slds-size_1-of-1" style="display:none;">
      <div class="slds-size_1-of-1 slds-align_absolute-center" >
         <iframe src="https://docs.google.com/a/salesforce.com/presentation/d/1M-7vnwRRNGSBUZM_OUOjXfwKlfcHXmQKmh474KqpZkk/embed?start=true&loop=true&delayms=60000" frameborder="0" width="1280" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
      <div class="slds-size_1-of-1 slds-align_absolute-center" >
         Not seeing slides? Perhaps you need to authenticate to your Salesforce &nbsp;<a href="https://drive.google.com/drive/u/0/" target="_blank">GDrive</a>
      </div>
</div>

 <script type="text/javascript">    
   function toggle() {
      $("#topics").toggle();
      $("#slides").toggle();
   }
 </script>
