<style>
   .center {
      position: fixed;
      top: 50%;
      left: 50%;
   }
   .img {
      margin-top: -183px;
      margin-left: -350px;
   }  
   .main-heading{ 
      font-size: 24px
   }
   .sub-heading {
      font-size: 16px;
   }
   .heroku-works {
      margin-top: -16em;
      margin-left: -51em;
   }
   .under-the-hood {
      margin-top: -16em;
      margin-left: 15em;
   }
   .vertically-scale {
      margin-top: -3em;
      margin-left: -47em;
   }
   .horziontally-scale {
      margin-top: -3em;
      margin-left: 25em;
   }
   .platform-services {
      margin-top: 10em;
      margin-left: -40em;
   }  
   .metrics-logging {
      margin-top: 10em;
      margin-left: 15em;
   }             
</style>
<div class="slds-grid slds-wrap">
   <div class="slds-size_1-of-1 slds-col_bump-left slds-text-align_right">
      <a href="javascript:topics('dynos');" class="slds-text-link_reset">TOPICS</a> | <a href="javascript:slides('dynos');" class="slds-text-link_reset">SLIDES</a>
   </div>
   <div id="topics" class="slds-size_1-of-1 slds-align_absolute-center">
      <div class="center img">
         <img src="/images/opex-1200.png" width="700px"/>
      </div>
      <div class="center heroku-works slds-text-align_right">
         <span class="main-heading">How Heroku Works</span><br />
         <span class="sub-heading">Developers build code, we run and manage the platform</span>
      </div>
      <div class="center under-the-hood slds-text-align_left" >
         <span class="main-heading">Dynos - Under the Hood</span><br />
         <span class="sub-heading">Secure, light-weight managed Linux container</span>
      </div>
      <div class="center vertically-scale slds-text-align_right" >
         <span class="main-heading">Vertically Scalable</span><br />
         <span class="sub-heading">Resources from 512MB to 14GB of RAM</span>
      </div>
      <div class="center horziontally-scale slds-text-align_left" >
      <span class="main-heading">Horizontally Scalable</span><br />
      <span class="sub-heading">Ramp to 100 instances instantly, or let it happen automatically</span>
      </div>
      <div class="center platform-services slds-text-align_right" >
      <span class="main-heading">Platform Services</span><br />
      <span class="sub-heading-right">Load balancing, SSL, monitoring and availability</span>
      </div>
      <div class="center metrics-logging slds-text-align_left" >
      <span class="main-heading">Metrics and Logging</span><br />
      <span class="sub-heading">Performance dashboard, custom alerts and aggregated logs</span>
      </div>     
      <!--
      <ul>
         <li>How Heroku Works</li>
         <li>Dyno Types</li>
         <li>Dynos - Under the Hood</li>
         <li>The Heroku Router</li>
         <li>The Dyno Manifold</li>
         <li>Logs and Metrics</li>
      </ul>
      -->
   </div>
   <div id="slides" class="slds-size_1-of-1" style="display:none;">
      <div class="slds-size_1-of-1 slds-align_absolute-center" >
         <iframe src="https://docs.google.com/a/salesforce.com/presentation/d/1c8QcOw5z9L_C79pMrNWnWarBnTaDDZv_HWwfEypDt5c/embed?start=true&loop=true&delayms=60000" frameborder="0" width="1280" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
      <div class="slds-size_1-of-1 slds-align_absolute-center" >
         Not seeing slides? Perhaps you need to authenticate to your Salesforce &nbsp;<a href="https://drive.google.com/drive/u/0/" target="_blank">GDrive</a>
      </div>
</div>

 <script type="text/javascript">    
   function toggle() {
      $("#topics").toggle();
      $("#slides").toggle();
   }
 </script>
