<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="slds-align_absolute-center">
<iframe src="https://docs.google.com/presentation/d/1Wj-lXZ3OiZUGKd9jwfaUQSzAq4JT-FZdodJmGPi2qjQ/embed?start=true&loop=false&delayms=5000" frameborder="0" width="1280" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
