
<style>
   .center {
      position: fixed;
      top: 50%;
      left: 50%;
   }
   .main-heading{ 
      font-size: 24px
   }
   .sub-heading {
      font-size: 16px;
   }
   .img {
      margin-top: -160px;
      margin-left: -190px;
   }
   .dev-faster {
      margin-top: -14em;
      margin-left: -39em;
   }
   .data-services {
      margin-top: -14em;
      margin-left: 9em;
   }
   .infrastructure{
      margin-top: -1em;
      margin-left: -42em;
   }
   .dev-best-practice{
      margin-top: -1em;
      margin-left: 15em;
   }
   .sforce-int{
      margin-top:11em;
      margin-left: -42em;
   }  
   .plat-sec{
      margin-top: 11em;
      margin-left: 9em;
   }   
</style>

<div class="slds-grid slds-wrap">
   <div class="slds-size_1-of-1 slds-col_bump-left slds-text-align_right">
      <a href="javascript:topics('why');" class="slds-text-link_reset">TOPICS</a> | <a href="javascript:slides('why');" class="slds-text-link_reset">SLIDES</a>
   </div>
   <div id="topics" class="slds-size_1-of-1 slds-align_absolute-center">

         <div class="center img">
            <img src="/static/images/heroku-platform2.png"/>
         </div>
         <div class="center dev-faster slds-text-align_right">
            <span class="main-heading">Developers go faster on Heroku</span><br />
            <span class="sub-heading">More features released in every sprint</span>
         </div>
         <div class="center data-services slds-text-align_left" >
            <span class="main-heading">World Class Data Services</span><br />
            <span class="sub-heading">Fully managed and maintained for you</span>
         </div>
         <div class="center infrastructure slds-text-align_right" >
            <span class="main-heading">Scalable, Elastic Infrastructure</span><br />
            <span class="sub-heading">Resource based licensing model</span>
         </div>
         <div class="center dev-best-practice slds-text-align_left" >
            <span class="main-heading">Development Best Practices included</span><br />
            <span class="sub-heading">CI and automatic deployments to drive quality</span>
         </div>
         <div class="center sforce-int slds-text-align_right" >
            <span class="main-heading">Point &amp; Click Salesforce Integration</span><br />
            <span class="sub-heading">Unlock your Salesforce data for your developers</span>
         </div>
         <div class="center plat-sec slds-text-align_left" >
            <span class="main-heading">Platform Security included</span><br />
            <span class="sub-heading">OS and DB patching as standard</span>
         </div>

   </div>


   <div id="slides" class="slds-size_1-of-1" style="display:none;">
      <div class="slds-size_1-of-1 slds-align_absolute-center" >
         <iframe src="https://docs.google.com/a/salesforce.com/presentation/d/e/2PACX-1vShQKzAbawORX9Z5hLO3FyzYCWCcZR0xJ6GLq8XXvdYMEk9_0Gmp2PZ1E4RAl0zCq2p5qwmR7nvi5YE/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1280" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
      <div class="slds-size_1-of-1 slds-align_absolute-center" >
         Not seeing slides? Perhaps you need to authenticate to your Salesforce &nbsp;<a href="https://drive.google.com/drive/u/0/" target="_blank">GDrive</a>
      </div>
</div>



